*{
  font-family:Malgun Gothic;
  font-size: 18px;
  font-weight: 700;
  color: rgba(28, 35, 129, 0.685);
}


.posicion
{
  position: fixed;
  left:  100px;
}

.inline
{
  display: inline-block;/*inline-block: se utiliza para hacer menus de navegacion y se le puede poner height y width*/
}

.sinhiper
{
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
}

.h1
{
  
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 250px;
  color: blue;
}

.boton
{
  
  width: 180px;
  height: 50px;
  border-style: solid;
  border-color: blue;
  background-color: rgba(34, 34, 138, 0.966);
  color: white;
  border-radius: 5px;
  
  
}

.margenizquierda
{
  margin-left: 120px;
}

.margenizquierda2
{
  margin-left: 200px;
}


.margenderecha
{
  margin-right: 280px;
}

.margenderecha2
 {
   margin-right: 200px;
 }

.h2
{
  font-size: 60px;
}

.h3
{
  font-size: 40px;
  margin-top: 100px;
}

.h33
{
  font-size: 35px;
}

h4
{
  font-size: 25px;
}

h5
{
  font-size: 25px;
}

.icon
{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: 20px;
  width: 20px;
  background-position: center;
  float: left;
  margin-top: 5px;
  color: rgb(227, 230, 107);
}

.icon2
{
  
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: 60px;
  width: 60px;
  background-position: left;
  color: rgba(146, 169, 211, 0.589);
}

.icon3
{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: 30px;
  width: 30px;
  background-position: left;
  color: rgba(146, 169, 211, 0.589);
}


.margentopicon2
{
  padding: 10px;
}

.salto
{
  margin-top: 20px;
  color: blue;
}
.margenbot
{
  margin-bottom: 100px;
}

.left 
{
  float: left;
 
}

.right 
{
  float: right;

}

.img1
{
  width: 700px;
  height: 1000px;
}

.img2 
{
  margin-top: 100px;
  width: 600px;
  height: 800px;

}

.img3 
{
  width: 700px;
  height: 600px;
  margin-top: 180px;
}

.contenedor
{
 height: 500px;
 width: 700px;
 
}

.contenedor2
{
  height: 350px;
  width: 260px;
}

.contenedor3
{
  height: 200px;
  width: 250px;
}

.p
{
  margin: 0;

}

.p2
{
  font-size: 15px;
  background-position: inherit;
}

.texchico
{
width: 220px;
}

.margentop2
{
  margin-top: 50px;
  margin-left: 50px;
}
.margen
{
  position: absolute;
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.514);
  box-shadow:10px 10px 15px rgba(183, 183, 185, 0.253);
}

.margen2
{
  
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.514);
  box-shadow:10px 10px 15px rgba(183, 183, 185, 0.253);
}

.margen3
{
  margin-top: 150px;
}

.separa
{
  margin-left: 30px;
  margin-right: 30px;
}

.margechico
{
  margin-left: 50px;
}

.boton2
{
  text-align: center;
  color: white;
  background-color: rgba(34, 34, 138, 0.918);
  border-radius: 5px;
  width: 150px;
  height: 45px;
}

.imgvacunas
{
  
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 350px;
  height: 150px;
}

.imgvacunas2
{
  margin-bottom: 20px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 350px;
  height: 60px;
}

.imgvacunas3
{

  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 350px;
  height: 100px;
}

.imgvacunas4
{
  margin-bottom: 15px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 350px;
  height: 70px;
}

.forzarsalto
{
  display: block;

}

.espaciog
{
  width: 1000px;
  height: 1000px;
}
.centrar
{
  text-align: center;
}

.izquierda 
{
  text-align: left;
}

ul 
{
  list-style-type: none; 
}
.margentopmax
{
  margin-top: 1200px;
}

#miBoton { 
  width: 200px;
  height: 50px;
  background: light-gray; 
  color: blue; 
} 

#miBoton:hover { 
  width: 200px;
  height: 50px;
  background: blue; 
  color: white; 
} 

#miBoton:active { 
  width: 200px;
  height: 50px; 
  background: gray; 
  color: white; 
} 

.letragrande
{
  font-size: 40px;
}

.l
{
  font-size: 25px;
}

.m 
{
  font-size: 15px;
}

.mas
{
  margin-top: 2150px;
  background-color: rgba(225, 234, 247, 0.89);
}

.cuadro
{
  margin-left: 100px;
  margin-right: 400px;
}

.cuadro2
{
  margin-left: 50px;
  margin-right: 50px;
}

.texizq
{
  margin-right: 550px;
  margin-left: 100px;
}

.l2
{
  font-size: 20px;
  margin-top: 50px;
}

.l3
{
  font-size: 25px;
  color: blue;
  
}

.l4
{
  font-size: 18;
}
